<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        xsi:schemaLocation=http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">


        <bean id="cat" class="com.li.pojo.Cat"/>
        <bean id="dog" class="com.li.pojo.Dog"/>

         <bean id="people" class="com.li.pojo.people">
             <property name="name" value="荔枝味"/>
             <property name="cat" ref="cat"/>
             <property name="dog" ref="dog"/>
         </bean>

    <!--自动装配
      byname：会自动在容器上下文中查找，和自己对象的set方法后面的值对应的beanid
       bytype：会自动在容器上下文中查找，和自己对象属性类型相同的bean
    -->
    <bean id="people" class="com.li.pojo.people" autowire="byName">
        <property name="name" value="荔枝味"/>
    </bean>




</beans>
